#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export PYTHONPATH := $(CURDIR)

VERSION := $(shell dpkg-parsechangelog --show-field Version | cut -d- -f1)
VENV := .krux-installer-v$(VERSION)

%:
	dh $@ --with python3

override_dh_auto_build:
	python3 -m venv $(VENV)
	$(VENV)/bin/pip install --no-index --find-links=vendor poetry
	$(VENV)/bin/poetry install --no-root --no-ansi --no-interaction
	$(VENV)/bin/poetry run poe build

override_dh_auto_install:
	dh_auto_install
	install -Dm755 dist/krux-installer $(CURDIR)/debian/krux-installer/usr/bin/krux-installer

override_dh_quilt_patch:
	dh_quilt_patch --skip
